<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microphone</title>
    <style>
        body{
            display: flex;
            margin: 2%;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            {#background: radial-gradient(circle,gray,black);#}
        }
        .mic{
            background-color: tan;
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
        {}
    </style>
</head>
<body>
    <h1 id="heading">Language is {{ language }}</h1>
    <div>
    <div id="machine" class="machine"></div>
    <div id="mic" class="mic"></div>
    <div id="human" class="human"></div>
    </div>
    <form id="human_form">
        <input type="text" name="human_input">
        <button type="submit">Get Response</button>
    </form>
    <script>
        document.querySelector('#human_form').addEventListener('submit',async function(e){
            e.preventDefault();
            try{
                const formdata=new FormData(this);
                const response=await fetch('/process_intermediate',{
                    method:'POST',
                    body:formdata
                });
                if(!response.ok){
                    throw new Error('Server error: '+response.status);
                }
                const turn=await response.json();
                document.getElementById('human').innerText+=turn.human_response;
                document.getElementById('machine').innerText+=turn.machine_response;
            }catch(error){
                alert('Sorry, an error occurred: '+error.message);
            }
        });
    </script>
</body>
</html>